body{

    margin: 20px;
    color: black;
    font-family: "Noto Sans Gothic", sans-serif;

    background-image: url("../images/background-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

/* Dropdown code from :*/
/* https://stackoverflow.com/questions/70712300/dropdown-menu-inside-a-navigation-bar
/* Hint: le secret c'est display:none => :hover display:block' */

/*begin dropdown*/










.dropdown-menu a:hover {
    background-color: yellow;
    color: black;

}

.dropdown-item {

    color: yellow;
}

.dropdown-item:hover  {
    border-radius: 20px;
}


.carousel-container{
    margin-top: 2%;
    margin-left: 30%;
    margin-right-30%;
    height: 50%;
    width: 40%;
}





/*end dropdow */


/*css for footer*/

.footer-container{

   margin-top: 30%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;

    background-color: black;
    opacity: 0.5;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


a{
    color: gold;
}


a:hover{
    color: orangered;
}
.box-row{
    color: red;
    font-size: large;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;}

.bottom-item{
    color: red;
    font-size: large;
    padding-bottom: 1%;

}

.bottom-item2{
    /*psosition below the footer*/
    text-align: center;
    justify-content: center;
    color: gold;
    font-size: small;
    padding-bottom: 1%;
}


/* End css for footer*/


